[submodule "source/external/imgui"]
	path = source/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "source/external/tlsf"]
	path = source/external/tlsf
	url = https://github.com/mattconte/tlsf
[submodule "source/external/cglm"]
	path = source/external/cglm
	url = https://github.com/recp/cglm.git
[submodule "source/external/wyhash"]
	path = source/external/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
